<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpy Hands</title>  
    <link href="{{url_for('static',filename='css/main_styles.css')}}" rel="stylesheet">     
</head>

<body>
  <header>
      <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
          <h1>About Us</h1>
      </nav>
</header>
  
</body>
</html>