<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main_styles.css')}}" rel="stylesheet">
    <title>Order Details</title>
</head>
<body>
  <header>
      <nav>
          <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/admin_menu">Menu</a></li>
          </ul>
          <h1>Order Details</h1>
      </nav>
</header>
<h2 style="text-align: left; margin-top: 107px;">ALL ORDERS:</h2>
<table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
  <tr style="border: 1px solid black;">
      <th style="border: 1px solid black;">Customer Phone</th>
      <th style="border: 1px solid black;">Employee Phone</th>
      <th style="border: 1px solid black;">Store ID</th>
      <th style="border: 1px solid black;">Order ID</th>
      <th style="border: 1px solid black;">Order Details</th>
      <th style="border: 1px solid black;">Order Status</th>
      <th style="border: 1px solid black;">Order Price</th>
      <th style="border: 1px solid black;">Actions</th>
  </tr>
  {% for o in orders %} 
      <form action="/delete_order/{{o[4]}}" method="POST"></form>
          <tr style="border: 1px solid black;"></tr>
              <td style="border: 1px solid black;">{{o[0]}}</td>
              <td style="border: 1px solid black;">{{o[1]}}</td>
              <td style="border: 1px solid black;">{{o[2]}}</td>
              <td style="border: 1px solid black;">{{o[3]}}</td>
              <td style="border: 1px solid black;">{{o[4]}}</td>
              {% if o[5] == 0 %}
                    <td style="border: 1px solid black;">Pending</td>
              {% endif %}
              {% if o[5] == 1 %}
                    <td style="border: 1px solid black;">Accepted</td>
              {% endif %}
              {% if o[5] == 2 %}
                    <td style="border: 1px solid black;">Declined</td>
              {% endif %}
              <td style="border: 1px solid black;">{{o[6]}}</td>
              <td><a href="/delete_order/{{o[3]}}"><button onclick="return confirm('Are you sure to Delete data');" value="DELETE" class="btn btn-danger">Delete </button> </a> </td>    
              
          </tr>
      </form>
  {% endfor %}
</table>

<form style="text-align: left; margin-top: 6%;" action='/admin_order_button' method="POST">
  <h2> Select Customer Number to edit details:</h2>
    <input style="padding: 20px 0; background-color: #d3d3d1; padding: 10px 20px;" type="text" name="cst_no" placeholder="Customer Number">
  <br>

  <h2> Enter Employee Number to assign for deliery:</h2>
    <input style="padding: 20px 0; background-color: #d3d1d1; padding: 10px 20px;" type="text" name="emp_no" placeholder="Employee Number">
  <br>

  <h2> Enter Order Status(0 if pending / 1 if successful/ 2 if Declined:</h2>
  <input style="padding: 20px 0; background-color: #d3d1d1; padding: 10px 10px;" type="text" name="status" placeholder="">
  <br>

  <h2> Enter order price:</h2>
  <input style="padding: 20px 0; background-color: #d3d1d1; padding: 10px 20px;" type="text" name="price" placeholder="">
  <br>

  <h2> Enter Payment Status(0 if pending / 1 if successful):</h2>
  <input style="padding: 20px 0; background-color: #d3d1d1; padding: 10px 20px;" type="text" name="pay_stat" placeholder="">
  <br>

  <h2> Enter Delivery Status(0 if pending / 1 if successful):</h2>
  <input style="padding: 20px 0; background-color: #d3d1d1; padding: 10px 20px;" type="text" name="del_stat" placeholder="">
  <br>
  <button style="margin-top: 50px;" type="submit" value="Submit">Submit</button>
</form>

</body>
</html>