<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main_styles.css')}}" rel="stylesheet">
    <title>Employee Details</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admin_menu">Menu</a></li>
        </ul>
    </nav>
</header>
</form>
    
<h2 style="text-align: left; margin-top: 107px;">Employee Details:</h2>
  <table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">Name</th>
        <th style="border: 1px solid black;">Address</th>
        <th style="border: 1px solid black;">Phone Number</th>
        <th style="border: 1px solid black;">Email</th>
        <th style="border: 1px solid black;">Actions</th>
        
    </tr>
    {% for e in emp %} 
        <!-- <form action="/delete_employee/{{e[2]}}" method="POST"></form> -->
            <tr style="border: 1px solid black;"></tr>
                <td style="border: 1px solid black;">{{e[0]}}</td>
                <td style="border: 1px solid black;">{{e[1]}}</td>
                <td style="border: 1px solid black;">{{e[2]}}</td>
                <td style="border: 1px solid black;">{{e[3]}}</td>
                <td><a href="/delete_employee/{{e[2]}}"><button onclick="return confirm('Are you sure to Delete data');" value="DELETE" class="btn btn-danger">Delete </button> </a> </td>    
                        <!-- <input type="submit" value="DELETE"></td> -->
            </tr>
        <!-- </form> -->
    {% endfor %}
</table>
</body>
</html>