<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main_styles.css')}}" rel="stylesheet">
    <title>Payment Details</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/customer_menu">Menu</a></li>
        </ul>
        <h1>Payment Details</h1>
    </nav>
</header>
    <h2 style="text-align: left; margin-top: 107px;">Payment Status:</h2>
    <table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
      <tr style="border: 1px solid black;">
          <th style="border: 1px solid black;">Customer Number</th>
          <th style="border: 1px solid black;">Payment ID</th>
          <th style="border: 1px solid black;">Payment Type</th>
          <th style="border: 1px solid black;">Price</th>
          <th style="border: 1px solid black;">Payment Status</th>
      </tr>
      {% for p in payment %} 
          <form action="" method="POST"></form>
              <tr style="border: 1px solid black;"></tr>
                  <td style="border: 1px solid black;">{{p[0]}}</td>
                  <td style="border: 1px solid black;">{{p[1]}}</td>
                  <td style="border: 1px solid black;">{{p[2]}}</td>
                  <td style="border: 1px solid black;">{{p[3]}}</td>
                  {% if p[4] == 0 %}
                    <td style="border: 1px solid black;">Pending</td>
                  {% endif %}
                  {% if p[4] == 1 %}
                    <td style="border: 1px solid black;">Successful</td>
                  {% endif %}
              </tr>
          </form>
      {% endfor %}
  </table>
    <br>
</body>
</html>