<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main_styles.css')}}" rel="stylesheet">
    <title>Finalize Delivery</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/employee_menu">Menu</a></li>
            </ul>
        </nav>
    </header>
        <h2 style="text-align: left; margin-top: 107px;">Delivery Details:</h2>
        <table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
          <tr style="border: 1px solid black;">
              <th style="border: 1px solid black;">Employee Number</th>
              <th style="border: 1px solid black;">Customer Number</th>
              <th style="border: 1px solid black;">Delivery ID</th>
              <th style="border: 1px solid black;">Delivery date</th>
              <th style="border: 1px solid black;">Delivery Time</th>
              <th style="border: 1px solid black;">Delivery Status</th>
              <th style="border: 1px solid black;">Delivery Ratings</th>
    
          </tr>
          {% for d in delivery %} 
              <form action="" method="POST"></form>
                  <tr style="border: 1px solid black;"></tr>
                      <td style="border: 1px solid black;">{{d[0]}}</td>
                      <td style="border: 1px solid black;">{{d[1]}}</td>
                      <td style="border: 1px solid black;">{{d[2]}}</td>
                      <td style="border: 1px solid black;">{{d[3]}}</td>
                      <td style="border: 1px solid black;">{{d[4]}}</td>
                      {% if d[5] == 0 %}
                      <td style="border: 1px solid black;">Pending</td>
                      {% endif %}
                      {% if d[5] == 1 %}
                      <td style="border: 1px solid black;">Successful</td>
                      {% endif %}
                      <td style="border: 1px solid black;">{{d[6]}}</td>
                  </tr>
              </form>
          {% endfor %}
      </table>
      <form style="text-align: left; margin-top: 6%;" action='/employee_deliver_final' method="POST">
        <h2> Enter 1 if delivery successful else 0</h2>
          <input  style="padding: 20px 0; background-color: #d3d3d1; padding: 10px 20px;" type="text" name="delivery_stat" placeholder="">
        <br>
        <h2> Enter delivery date</h2>
          <input  style="padding: 20px 0; background-color: #d3d3d1; padding: 10px 20px;" type="text" name="date" placeholder="">
        <br>
        <h2> Enter time</h2>
          <input  style="padding: 20px 0; background-color: #d3d3d1; padding: 10px 20px;" type="text" name="time" placeholder="">
        <br>
        <h2> Enter Delivery ID </h2>
          <input  style="padding: 20px 0; background-color: #d3d3d1; padding: 10px 20px;" type="text" name="delivery_id" placeholder="">
        <br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>